.about {
    background-color: hsl(0, 0%, 92%);
    border-radius: 7px;
    width: 55vw;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 4px 0px gray;
    padding: 30px;
    padding-top: 10px;
    margin-bottom: 60px;
}

@media (max-width: 600px) {
    .about {
      width: calc(100vw - 40px);
    }
  }

.about-subtitle {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 0px;
}

.about-text {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 5px;
    line-height: 1.4;
}

li {
    margin-bottom: 5px;
}

a {
    color: hsl(204, 90%, 40%);
}