.contact {
    border-radius: 7px;
    width: 55vw;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    margin-bottom: 60px;
}

@media (max-width: 600px) {
    .contact {
        width: calc(100vw - 100px);
    }
}

.contact-text {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 5px;
    line-height: 1.6;
    text-align: center;
}

.email {
    color: hsl(204, 90%, 40%);
}