.contact {
    /* background-color: hsl(0, 0%, 92%); */
    border-radius: 7px;
    width: 55vw;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    /* box-shadow: 0 0 4px 0px gray; */
    padding: 30px;
    padding-top: 10px;
    margin-bottom: 60px;
}

.contact-text {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 5px;
    line-height: 1.6;
    text-align: center;
}

.email {
    color: hsl(204, 90%, 40%);
}