body {
    background-color: rgb(255, 255, 255);
}

.home {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 600px) {
  .home {
    margin-top: 50px;
  }
}

.home-title {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 0px;
}

.subtitle {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 50px;
}

@media (max-width: 600px) {
  .subtitle {
    width: calc(100vw - 100px);
  }
}

.home-button {
    background-color: rgb(0, 200, 80);
    color: rgb(255, 255, 255);
    border: 1px transparent;
    border-radius: 10px;
    padding: 15px;
    font-size: 18px;
    width: 230px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    margin-bottom: 150px;
}

@media (max-width: 600px) {
  .home-button {
    margin-bottom: 100px;
  }
}