h4 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    
}

.deleted-title {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 5%;
    left: 50%;
}

.no-songs {
    top: 20%;
    left: 50%;
    font-size: 15px;
}

.deleted-songs-playlists-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: absolute;
    top: 20%;
    width: 100%; 
    flex-wrap: wrap; 
}

.deleted-songs-playlist-iframe {
    width: calc(33.33% - 20px);
    margin: 0; 
    box-sizing: border-box;
}
