h4 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    
}

.deleted-title {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 5%;
    left: 50%;
}

.no-songs {
    top: 20%;
    left: 50%;
    font-size: 15px;
}

.deleted-songs-playlists-container {
    display: grid;
    position: absolute;
    top: 20%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.deleted-songs-playlist-iframe {
    grid-column-start: 2;
}
