.leaderboard-title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 0px;
}

.leaderboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
}

.leaderboard-user-rank {
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.leaderboard-user {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-column-start: 2;
    background-color: rgb(174, 175, 170);
    height: 80px;
    border-radius: 5px;
}

.leaderboard-user-picture {
    width: 80px;
    height: 80px;
}

.leaderboard-user-iframe {
    height: 300px;
    width: 300px;
    transform: scale(0.235);
    transform-origin: 0 0;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 25px;
}

.leaderboard-user-name {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 50px;
}

.leaderboard-user-score {
    font-size: 20px;
    font-weight: bold;
    margin-left: auto;
    margin-right: 20px;
}