.leaderboard-container {
    position: absolute;
    height: 80%;
    width: 100%;
    top: 15%;
}

.leaderboard-1-name {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    color:white;
    transform: rotate(45deg);
}

.leaderboard-1-box {
    background-color: rgb(47, 255, 47);
    position: absolute;
    width: 10px;
    top: 10%;
    left: 50%;

}