input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--form-background);
  font: inherit;
  color: rgb(0, 0, 0);
  width: 3em;
  height: 5em; /* Adjusted height for better proportions */
  border: 0.15em solid currentColor;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px; /* Adjusted margin for spacing */
}

input[type="checkbox"]::before {
  content: "";
  width: 2.2em; /* Adjusted width for better proportions */
  height: 4.2em; /* Adjusted height for better proportions */
  border: 0.15em solid black;
  border-radius: 10px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: rgb(57, 243, 60);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.playlist-item {
  display: flex;
  align-items: center;
  height: 100%;
}

.playlist-check-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
}

.large-check-container:not(.large-playlist) .playlist-check-container {
  max-width: 300px; /* Set a maximum width to keep it centered */
}

.playlist-check-iframe {
  height: 100px;
  transform: translate(0px, 10px);
}

.large-check-container {
  display: grid;
  justify-content: center; 
}

.large-playlist .playlist-check-container {
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  align-items: flex-start;
  justify-content: center; 
}

.currently-playing {
  color: rgb(0, 0, 0);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center; /* Added to horizontally center */
  margin: 0 auto 0;
}

.check-title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 0px;
}

.right-arrow {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 100px;
  height: 100vh;
  z-index: 999;
}

.arrow {
  position: absolute; 
  top: 50%;
  right: 35px; 
}

.arrow-emoji {
  position: absolute; 
  top: 49.4%;
  right: 65px; 
  font-size: 40px;
}

.right-arrow:hover .arrow {
  width: 35px; 
  transform: translateX(15px) translateY(-2px);

}

.right-arrow:hover .arrow-emoji {
  font-size: 45px;
  transform: translateX(11px);
}

.right-arrow .arrow,
.right-arrow .arrow-emoji {
  transition: width 0.4s, transform 0.4s, font-size 0.4s; 
}

.left-arrow {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100px;
  height: 100vh;
  z-index: 999;
}

.arrow-left {
  left: 35px;
  transform: rotate(180deg); 
  position: absolute; 
  top: 50%;
}

.arrow-emoji-left {
  left: 65px;
  font-size: 40px;
  position: absolute;
  top: 49.4%;
}

.left-arrow:hover .arrow-left {
  width: 35px;
  transform: translate(-15px, -2px) rotate(180deg);
}

.left-arrow:hover .arrow-emoji-left {
  font-size: 45px;
  transform: translateX(-11px); 
}

.left-arrow .arrow-left,
.left-arrow .arrow-emoji-left {
  transition: width 0.4s, transform 0.4s, font-size 0.4s;
}

