input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--form-background);
    font: inherit;
    color: rgb(0, 0, 0);
    width: 3em;
    height: 5em;
    border: 0.15em solid currentColor;
    border-radius: 15px;
    transform: translateY(-0.075em);
    margin-left: 15em;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    
  }
  
  input[type="checkbox"]::before {
    content: "";
    width: 2.2em;
    height: 4.2em;
    border: 0.15em solid black;
    border-radius: 10px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    /* box-shadow: inset 1em 1em var(--form-control-color); */
    background-color: rgb(57, 243, 60);
  }
  
  
input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  
/* input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
} */


.playlist-check-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr 3fr 2.5fr;
    grid-gap: 5px;
    margin-top: 200px;
}

.playlist-check-iframe {
    grid-column: 3 / 4;
    margin-bottom: -30px;
    width: 100%;
    height: 100px;
    /* width: 100%; */
    /* height: 100% */
}

.playlist-checkbox {
    grid-column: 2 / 3;
    width: 100%;
    height: 100%;
}