p {
    color: white;
}
h2 {
    color: white;
    text-align: center;
}
ul {
    color: white;
}
label {
    display: grid;
}

.playlist-container-left, .playlist-container-right {
    position: absolute;
    top: 40px;
    width: 200px;
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.playlist-container-left {
    left: 0;
}

.playlist-container-right {
    right: 0;
}

.embed {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 15%;
    display: flex;
    align-content: left;
    max-height: 15%;
    margin-top: -20px; 
    margin-bottom: -20px; 
    transition: transform 0.1s ease-in-out;
}

.embed:hover {
    transform: translateX(40px);
}

.iframe-clicker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.large-card {
    /* make in middle of screen */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 350px;
}

.hide-embed {
    position: absolute;
    visibility: hidden;
}

.large-card-background {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 350px;
    border: 2px dashed rgb(132, 132, 132);
    border-radius: 15px;
}

h3 {
    color:rgb(132, 132, 132);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.playlist-iframe {
    max-height: -webkit-fill-available;
}

.overlay {
    background-color: black;
}

.embed.clicked {
    transform: translateX(1400px); /* Move the clicked card to the right */
}
/* .playlist-checkbox {
    grid-column: 2 / 3;
} */

.playlist-container-right .embed:hover {
    transform: translateX(-40px); /* Move the card to the left */
}

